<footer>
    <img src="assets/img/Logo.png" alt="">
    <div class="contenedor">
        <div class="contacto">
            <button type="button" class="btn btn-dark enviar" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Contactanos
            </button>
        </div>
        <div class="redes">
            <i class="fa fa-facebook-official" aria-hidden="true">DonburiDojo</i>
            <i class="fa fa-instagram" aria-hidden="true">Donburi_Dojo</i>
            <i class="fa fa-twitter-square" aria-hidden="true">DonburiDojo_Oficial</i>
        </div>
    </div>
</footer>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Contactanos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="container mt-5">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" formControlName="name" [(ngModel)]="contactForm.value.name" class="form-control">
                            <span class="text-danger small"
                                *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
                                <span *ngIf="contactForm.get('name')?.errors?.['required']">El nombre es obligatorio. </span>
                                <span *ngIf="contactForm.get('name')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</span>
                            </span>
                        </div>
            
                        <div class="form-group">
                            <label>Correo electrónico:</label>
                            <input type="email" formControlName="email" [(ngModel)]="contactForm.value.email" class="form-control">
                            <span class="text-danger small"
                                *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
                                <span *ngIf="contactForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.
                                </span>
                                <span *ngIf="contactForm.get('email')?.errors?.['email']">El correo electrónico debe tener un
                                    formato válido.</span>
                            </span>
                        </div>
            
                        <div class="form-group">
                            <label>Mensaje:</label>
                            <textarea formControlName="message" [(ngModel)]="contactForm.value.message"
                                class="form-control"></textarea>
                            <span class="text-danger small"
                                *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)">
                                <span *ngIf="contactForm.get('message')?.errors?.['required']">El mensaje es obligatorio. </span>
                                <span *ngIf="contactForm.get('message')?.errors?.['minlength']">El mensaje debe tener al menos 25
                                    caracteres.</span>
                            </span>
                        </div>
            
                        <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary">Enviar</button>
                        <button type="button" #closeModalButton [hidden]="true" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
          </div>
      </div>
    </div>
</div>