<div class="contenedor">
    <div class="logo"><img src="assets/img/LogoC.png" alt=""></div>
    <h1>Donburi Dojo</h1>
    <h3>"Donde la comida y la cultura otaku se unen."</h3>
    <p class="expo">Somos un restaurante ficticio con la mision de producir la misma sensacion que tienes cuando ves
        comida en anime al probar los alimentos que preparamos.
        Ademas de crear platillos unicos inspirados por los personajes de tus animes favoritos.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ecASe73kwOU" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <p class="expo">Visita este lugar donde no solo podras probar nuestros maravillosos y deliciosos platillos sino
        tambien conocer personas que comparten tus gustos culinarios y de entretenimiento.</p>

    <br><br>
    <p>**El proposito de este sitio web es ser presentado como proyecto universitario**</p>
    <h2>Equipo de desarrollo</h2>
    <div class="personaD">
        <div class="avatar">
            <img src="assets/img/pfp1.jpeg" alt="">
        </div>
        <div class="info">
            <h2>Manuel Alejandro Flores Ramirez</h2>
            <h4>Id: 289841</h4>
        </div>
    </div>
    <div class="personaI">
        <div class="info">
            <h2>Jose Armando Perez Lugo</h2>
            <h4>Id: 294102</h4>
        </div>
        <div class="avatar">
            <img src="assets/img/pfp2.jpeg" alt="">
        </div>
    </div>
    <div class="personaD">
        <div class="avatar">
            <img src="assets/img/pfp3.jpeg" alt="">
        </div>
        <div class="info">
            <h2>Andrea Fernanda Perez Estrada</h2>
            <h4>Id: 243865</h4>
        </div>
    </div>
    <div class="personaI">
        <div class="info">
            <h2>Ivan Alejandro Lopez Martinez</h2>
            <h4>Id: 293411</h4>
        </div>
        <div class="avatar">
            <img src="assets/img/pfp4.jpeg" alt="">
        </div>
    </div>
    <div class="personaD">
        <div class="avatar">
            <img src="assets/img/pfp5.jpg" alt="">
        </div>
        <div class="info">
            <h2>Edgar Ulises Delgado Hernández</h2>
            <h4>Id: 211060</h4>
        </div>
    </div>
    <p>**El proposito de este sitio web es ser presentado como proyecto universitario**</p>
</div>