.contenedor{
    width: 90%;
    background-color: rgba(250, 235, 215, 0.233);
    margin: 2.5% auto 0 auto;
    padding: 2% 20%;
    color: white;
    text-shadow: 0.1rem 0.2rem black;
    text-align: center;
}
img{
    width: 15vw;
}
.expo{
    text-align: justify;
}
.personaD{
    text-align: start;
    display: flex;
    margin-bottom: 0.5rem;
}
.personaI{
    justify-content: flex-end;
    text-align: end;
    display: flex;
    margin-bottom: 0.5rem;
}
.personaD img{
    margin-right: 0.75rem;
}
.personaI img{
    margin-left: 0.75rem;
}
h1{
    font-size: 1.75rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
p{
    font-size: 1.15rem;
}
.avatar img{
    width: 15rem;
    border: ridge 0.5rem rgb(185, 161, 23);
}
