<div class="contenedor">
    <div class="logo"><img src="assets/img/LogoC.png" alt=""></div>
    <h1>Donburi Dojo</h1>
    <h3>Donde la comida y la cultura otaku se unen</h3>
    <br><br>
    <p>**El proposito de este sitio web es ser presentado como proyecto universitario**</p>
    <h2>Equipo de desarrollo</h2>
    <div class="personaD">
        <h3>Manuel Alejandro Flores Ramirez</h3>
        <h4></h4>
    </div>
    <div class="personaI">
        <h3>Jose Armando Perez Lugo</h3>
        <h4></h4>
    </div>
    <div class="personaD">
        <h3>Andrea Fernanda Perez Estrada</h3>
        <h4></h4>
    </div>
    <div class="personaI">
        <h3>Ivan ALejandro Lopez Martinez</h3>
        <h4></h4>
    </div>
    <div class="personaD">
        <h3>Edgar Ulises Delgado Hernández</h3>
        <h4></h4>
    </div>
    <p>**El proposito de este sitio web es ser presentado como proyecto universitario**</p>
</div>