.contenedor{
  width: 90%;
  background-color: rgba(250, 235, 215, 0.233);
  margin: 2.5% auto 0 auto;
  padding: 2%;
  color: white;
  text-align: center;
}
.table {
  color: white;
}

.search label,
.filter label,
.create-product h3,
.create-product label {
  color: white;
}

.search .input-group,
.filter .input-group {
  display: flex;
}

.search .input-group input,
.filter .input-group input,
.create-product input {
  flex: 1;
  margin-right: 5px;
}

.create-product {
  max-width: 50%;
}

.create-product button {
  margin-top: 10px;
}
