.carousel{
    background-color: rgba(87, 79, 95, 0.555);
}
.carousel-inner{
    width: 75vw;
    margin: auto;
}
.carousel p{
    font-size: 1.25rem;
}
p, h5{
    font-size: 2rem;
}
.menu-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5%;
    background-color: #b8495c;
}
.menu-info{
    color: white;
    text-shadow: 0.1rem 0.2rem black;
}
.menu-info h1{
    font-size: 2.5rem;
}
.menu-info p{
    font-size: 1.5rem;
    margin: 1.5rem auto;
}
.slogan{
    font-size: 1.75;
    margin:  0.5rem auto;
}
.menuBtn{
    height: 35vh;
}
.row{
    padding: 2.5%;
}
.col-sm-4{
    display: flex;
    justify-content: center;
}
.horario{
    align-content: stretch;
}
.direccion{
    display: flex;
    justify-content: space-around;
}
.direccion img{
    width: 20vw;
}
.direccion .datos{
    text-align: center;
}
i{
    font-size: 3.5rem;
    color:#993949;
}
.datos, .horario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}