<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="assets/img/Slide1.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/Slide2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/Slide3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
</div>
<div class="menu-section">
    <div class="menu-info">
        <h1>Menu</h1>
        <p>Sumergete en nuestra gran variedad de alimentos y bebidas inspiradas en tus animes favoritos</p>
        <a routerLink="/menu"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
    </div>
    <a routerLink="/menu"><img class="menuBtn" src="assets/img/MenuDojo.png" alt=""></a>
</div>
<div class="row">
    <div class="col-sm-4">
      <div class="card text-bg-secondary">
        <div class="card-body horarios">
          <h5 class="card-title">Horarios</h5>
          <p class="card-text">Lunes a Viernes: 8:00am - 10:00pm</p>
          <p class="card-text">Sabado: 10:00am - 7:00pm</p>
          <a routerLink="/home" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card text-bg-secondary">
        <div class="card-body direccion">
          <div class="datos">
            <h5 class="card-title">Direccion</h5>
            <p class="card-text">5960 Hartmann Camp</p>
            <p class="card-text">88668, Noramouth</p>
            <a routerLink="/home" class="btn btn-primary">Go somewhere</a>
          </div>
          <div>
            <img src="assets/img/map.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>