<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="assets/img/Slide1.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!--<p>{{quote1}}</p>-->
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/Slide2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!--<p>{{quote1}}</p>-->
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/Slide3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!--<p>{{quote3}}</p>-->
        </div>
      </div>
    </div>
<div class="menu-section">
    <div class="menu-info">
        <h1>Bienvenidos a Donburi Dojo</h1>
        <p class="slogan">"Donde la comida y la cultura otaku se unen."</p>
        <p>Sumergete en nuestra gran variedad de alimentos y bebidas inspiradas en tus animes favoritos</p>
        <a routerLink="/menu"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    <a routerLink="/menu"><img class="menuBtn" src="assets/img/MenuDojo.png" alt=""></a>
</div>
<div class="row rowDatos">
    <div class="col-sm-4">
      <div class="card text-bg-secondary">
        <div class="card-body horario">
          <h5 class="card-title">Horarios</h5>
          <p class="card-text">Lunes a Sabado: </p>
          <p class="card-text">8:00am - 10:00pm</p>
          <a routerLink="/reservar" class="btn btn-primary">Reservar Mesa</a>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card text-bg-secondary">
        <div class="card-body direccion">
          <div class="datos">
            <h5 class="card-title">Direccion</h5>
            <p class="card-text">5960 Hartmann Camp</p>
            <p class="card-text">88668, Noramouth</p>
          </div>
          <div>
            <app-ol-map [lat]="21.906057" [lon]="-102.323301" [zoom]="15" width="20vw" height="20vw"></app-ol-map>
          </div>
        </div>
      </div>
    </div>
  </div>